.container {
  min-width: 90vw;
}

.mainLayout {
  display: grid;
  grid-template-columns: 75% 25%;

  @media screen and (max-width: 600px) {
    grid-template-rows: 22% auto;
    grid-template-columns: 1fr;
  }
}

section button {
  width: 100%;

  @media screen and (max-width: 600px) {
    width: 94%;
    font-size: 1.6rem;
  }
}

b {
  color: #000;
  font-size: 2rem;

  @media screen and (max-width: 600px) {
    font-size: 1.6rem;
  }
}

.table {
  padding: 5px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6vh 50vh 17vh 8%;
  align-items: start;
  color: #000;

  h1 {
    text-align: center;
    color: #333;
    justify-self: end;
    width: 100%;
    font-size: 3rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
    direction: rtl;
    background: #fff;

    thead {
      border-top: 2px solid var(--light-blue);
      border-bottom: 2px solid var(--light-blue);
    }

    th {
      border: 1px solid #eee;
      text-align: center;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;

      &.icons {
        >* {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    tr {
      border-bottom: 1px solid #ccc;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
  }

  .summary {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;

    @media screen and (max-width: 600px) {
      display: flex;
      height: 4rem;
      width: 100%;
      gap: 1rem;
    }

    .reset {
      font-size: 14px;
      padding: 1.2rem;
    }

    .checkout {
      display: grid;
      grid-template-columns: 15% 85%;
      justify-items: center;
      align-items: center;
      height: 45px;

      p {
        font-size: 14px;

        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
      }

      a {
        font-size: 16px;
        color: #000;
      }
    }

    .card {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.count {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  div {
    border-radius: 50%;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.tableRows {
  max-height: 40vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 3px solid gray;
  border-radius: 20px;
}

.mainContent {
  display: grid;
  grid-template-rows: 10% auto 20%;
  height: 76vh;
}

.tableHeader {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  font-size: 1.5rem;
  direction: rtl;
  justify-items: center;
  margin: 1rem auto;
  height: 66vh;
  grid-template-rows: 10% auto;

  @media screen and (max-width: 600px) {
    grid-template-rows: 12% auto;
    height: 35vh;
    width: 100%;
  }
}

.headerColumns {
  display: grid;
  grid-template-columns: 3% 24% 19% 12% 44%;
  justify-self: center;
  width: 90%;
  justify-items: center;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  height: 6rem;

  b {
    font-size: 2.5rem;

    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
    }
  }


  @media screen and (max-width: 600px) {
    font-size: 1.6rem;
    height: 4rem;
    width: 85%;
    width: 100%;
    direction: rtl;
  }

}

.tableBody {
  padding: 1rem;
  max-height: 80vh;
  overflow: scroll;
  width: 90%;
  justify-self: center;

  @media screen and (max-width: 600px) {
    width: 100%;
    direction: rtl;
    max-height: 40vh;
  }
}

.tableRow {
  direction: rtl;
  padding: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 5% repeat(4, 1fr) 5%;
  border: 1px solid gray;
 @media screen and (max-width: 1200px) {
  margin: 2rem 0;
 }
  @media screen and (max-width: 600px) {
    grid-template-columns: 10% repeat(4, 1fr) 5%;
  }
}

.index {
  background: gray;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
}

/*bottom sheet*/
.listContent {
  margin: 0 2rem;
  direction: rtl;
  display: grid;
  grid-template-rows: 17% auto;

  .listItems {
    display: grid;
    grid-template-rows: 7rem 12rem 7rem 6rem;
    height: 42rem;
    width: 100%;
    overflow: scroll;
    padding: 0 2rem;


  }
}

.react-modal-sheet-container {
  max-height: 50vh;
}

.sheetContainer {
  height: 100%;
  display: grid;
  grid-auto-flow: row;

  .status {
    background: orange;
    width: 70%;
    justify-self: center;
    align-self: end;
    border-radius: 22%;
    text-align: center;
    height: 6rem;
    padding: 0 1rem;
  }
}

.actions {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
  border-bottom: 1.2px solid silver;

  h3:nth-child(1) {
    border-right: 2px solid silver;
  }
}



/*payment*/
.payment {
  // display: grid;
  // grid-template-rows: 65% 9% 7%;
  height: 69vh;
 
  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-rows: 32% 12% 17%;
    height: 80vh;
    align-items: start;
  }
}

select {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem auto;
  width: 70%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;

  @media screen and (max-width: 600px) {
    width: 87%;
    justify-self: end;
    font-size: 1.6rem;
  }
}

.total {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  width: 35%;
  margin: auto;

  @media screen and (max-width: 600px) {
    width: 100%;

    h1 {
      font-size: 3rem;
    }
  }
}

.buttonPay {
  background: #76895a;
  border-radius: 15px;
  height: 5rem;
  width: 99%;
  font-size: 2rem;
  line-height: 1rem;
}
.remark{
  margin-top: 1rem;
  font-size: 2rem;
  direction: rtl;
  input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    font-size: 1.6rem;
  }
}
.MuiAutocomplete-input {
  min-width: max-content;
}