

.product {
   .content {
     height: 85vh;
     overflow: scroll;
     @media (max-width: 1200px) {
      max-height: 80vh;
     }
   }
  
  .filter {
    width: 20%;
    // border: 2px solid var(--dark-blue);
    transition: all 0.3s;
  }

  @media screen and (max-width: 700px) {
    .filter {
      width: 50%;
      background-color: #fff;
      border: 2px solid var(--dark-blue);
      position: absolute;
      left: -200%;
      height: 100%;
      padding: 1rem;
      z-index: 99;
    }
    .show {
      left: 0;
    }
    .content {
      width: 100%;
      .icon {
        display: flex;
      }
    }
  }
}
