h1 {
    width: min-content;
    margin-left: 4rem;
}

.sidebar {
    //background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    font-size: 3.5rem;
    position: fixed;
    min-width: 20rem;
      @media (max-width: 768px) {
           margin-left: 2rem;
           max-height: 47vh;
           overflow: auto;
        }
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background 0.2s;
    font-size: 2rem;
    color: #2e2c2c;
}

.sidebar li:hover {
    background: #e0e0e0;
    border-radius: 4px;
    padding: 0.25rem;
}