.dataLoading {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
h2{
  text-align: center;  color:#fff;
}
.main-content {
  min-width: 100vw;

  }
  .table {
    padding: 5px;
    width: 100%;
    background: #fff;
    max-height: 80vh;
    overflow: auto;
    border: 2px solid silver;
    
      .search {
        width: 100%;
        max-width: 300px;
      }
    
  
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.8rem;
        max-height: 70vh;
        overflow: auto;
        color: black;
        thead {
          border-top: 2px solid var(--light-blue);
          border-bottom: 2px solid var(--light-blue);
        }
    
        th {
          border: 1px solid #eee;
        }
    
        th,
        td {
          vertical-align: baseline;;
          text-align: center;
          padding: 8px;
          &.icons {
            > * {
              margin-right: 5px;
              cursor: pointer;
            }
          }
        }
    
        tr {
          border-bottom: 1px solid #ccc;
        }
    
        tr:nth-child(even) {
          background-color: #eee;
        }
      }
    }
    button {
      font-size: 1.6rem;
    }
